@font-face {
    font-family: 'SFThonburi'; /* ชื่อฟอนต์ที่คุณตั้ง */
    src: url('./SFThonburi-Regular.ttf') format('truetype'); /* ระบุเส้นทางของไฟล์ฟอนต์ */
    font-weight: normal;
    font-style: normal;
}
